body {
  background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  font-family:  'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.topNav {
  background-color: black;
  color: whitesmoke;
}
.topNav a {
  padding: 15px;
  font-size: 17px;
}

.pageTitleContainer {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.imgContainer {
  height: 300px;
  width: 400px;
  margin-top: 10px;
  
}

.pageTitle {
  color: blue;
}
.pageIntroContainer {
  display: flex;
  justify-content: space-around;
  
}
.pageIntro {
  height: 100%;
  width: 50vw;
  color: white;
}

.button {
  cursor: pointer;
}

.informationTab {
  display: flex;
  justify-content: center;
}

.informationTab a {
  padding: 15px;
  margin: 15px;
  background-color: black;
  color: white;
  justify-content: center;
}

.informationContainer {
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid white;
}

.prev,
.next {
  cursor: pointer;
  color: #ffe81f;
}

.prev {
  margin-right: 40px;
  
}

.next {
  margin-left: 40px;
}


.informationImage {
  margin-right: 60px;
}

#peopleInfo {
  display: flex;
  justify-content: center;
}

.peopleData .starShipData .filmData {
  width: fit-content;
  height: fit-content;
  border: 2px solid white;
  margin: 15px;
  /* padding: 50px; */
  display: none;
}

.infoData {
  width: 400px;
  height: 300px;
}
 /* .starShipData {
  width: fit-content;
  height: fit-content;
  border: 2px solid white;
  margin: 15px;
  padding: 50px;
  display: none;
 }

.filmData {
  width: fit-content;
  height: fit-content;
  border: 2px solid white;
  margin: 15px;
  padding: 50px;
  display: none; 
}  */

.nav {
  
  align-self: center;
  
}
